<div class="page" id="dashboard" data-name="dashboard">
  <div class="navbar">
    <!-- <div class="navbar-bg"></div> -->
    <div class="navbar-inner sliding">
      <div class="left">
      </div>
      <div class="title">
        <p>Dashboard</p>
      </div>
      <div class="right">
        <a href="#" class="link icon-only panel-open" data-panel="right">
          <i class="icon f7-icons if-not-md">menu</i>
          <i class="icon material-icons md-only">menu</i>
        </a>
      </div>
    </div>
  </div>
  <div class="page-content">
    <!-- <div class="block block-strong">
      <div>
        <p style="font-size:15px">Halo, Choirul Hafifi</p>
      </div>
    </div> -->
    <div class="block block-strong">
      <div class="row chodosoft-center">
        <div class="col-25 menu-dashboard">
          <button class="button button-dashboard button-fill color-blue text-color-white" id="btn-pay">
            <img src='img/money.png' class="dashboard-icon" style="margin: auto;" />
          </button>
          <div>Pembayaran</div>
        </div>
        <div class="col-25 menu-dashboard">
          <button class="button button-dashboard button-fill color-blue text-color-white" id="history-btn">
            <img src='img/book.png' class="dashboard-icon" style="margin: auto;" />
          </button>
          <div>Total Biaya</div>
        </div>
        <div class="col-25 menu-dashboard">
          <button class="button button-dashboard button-fill color-blue text-color-white" id="prodi-btn">
            <img src='img/prodi.png' class="dashboard-icon" style="margin: auto;" />
          </button>
          <div>Prodi</div>
        </div>
        <div class="col-25 menu-dashboard">
          <button class="button button-dashboard button-fill color-blue text-color-white" id="jadwal-btn">
            <img src='img/jadwal.png' class="dashboard-icon" style="margin: auto;" />
          </button>
          <div>Jadwal</div>
        </div>
      </div>
    </div>
    <div class="col-25 menu-dashboard">
      <button class="button button-dashboard button-fill color-blue text-color-white btn-large" id="jadwal-btn"
        style="height: 120px;">

        <img src='img/slider-01.png' style="margin: auto;" />

      </button>
      <div style="text-align: center">
        <h3>ChoirulHafifi-1118100126</h3>
      </div>
    </div>
  </div>
</div>