<div class="page" data-page="history">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="left">
        <a href="/dashboard/" class="link">
          <i class="icon icon-back"></i>
          <span class="if-not-md">Back</span>
        </a>
      </div>
      <div class="title">
        Total Biaya
      </div>
      <div class="right">
        <a href="#" class="link icon-only panel-open" data-panel="right">
          <i class="icon f7-icons if-not-md">menu</i>
          <i class="icon material-icons md-only">menu</i>
        </a>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="list media-list">
      <ul>
        <li>
          <a href="#" class="item-link item-content">
            <div class="item-inner">
              <div class="item-title">
                <div class="text-align-center text-color-blue"><b>TOTAL BIAYA Rp 13.000.000,-</b></div>
              </div>
            </div>
          </a>
        <li>
          <a href="#" class="item-link item-content">
            <div class="item-inner">
              <div class="item-text">Pembayaran Bulan Oktober 2020</div>
              <div class="item-text text-align-right text-color-blue">Rp 1.250.000,-</div>
              <div class="item-text text-align-right" style="font-weight: bold; color: #007766;">Sisa:
                Rp 11.750.000,-
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="item-link item-content">
            <div class="item-inner">
              <div class="item-text">Pembayaran Bulan November 2020</div>
              <div class="item-text text-align-right text-color-blue">Rp 1.250.000,-</div>
              <div class="item-text text-align-right" style="font-weight: bold; color: #007766;">Sisa: Rp
                10.500.000,-</div>
            </div>
          </a>
        </li>

      </ul>
    </div>
  </div>
</div>