<link rel="stylesheet" href="css/custom.css">
<div class="page" id="jadwal" data-page="jadwal">
    <div class="navbar">
        <div class="navbar-bg"></div>
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="/dashboard/" class="link">
                    <i class="icon icon-back"></i>
                    <span class="if-not-md">Back</span>
                </a>
            </div>
            <div class="title">
                Jadwal
            </div>
            <div class="right">
                <a href="#" class="link icon-only panel-open" data-panel="right">
                    <i class="icon f7-icons if-not-md">menu</i>
                    <i class="icon material-icons md-only">menu</i>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content">

        <div class="card card-expandable">
            <div class="card-content">
                <div class="bg-color-orange" style="height: 80px">
                    <div class="card-header text-color-white display-block">
                        Teknik Informatika
                        <br>
                        <small style="opacity: 1">Software Engineering</small>
                    </div>
                    <a href="#" class="link card-close card-opened-fade-in color-white"
                        style="position: absolute; right: 15px; top: 15px">
                        <i class="icon f7-icons">xmark_circle_fill</i>
                    </a>
                </div>
                <div class="card-content-padding">
                    <div class="card data-table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="numeric-cell">Hari/Jam</th>
                                    <th class="label-cell">Kode MK</th>
                                    <th class="numeric-cell">Nama MK</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>