<div class="page view view-main" id="login" data-name="login">
    <div class="page-content">
        <div class="block">
            <div class="page-content chodosoft-center">
                <img src="img/logo.png" width="150px" height="150px" />
            </div>
            <div style="text-align: center">
                <h1>Login</h1>
            </div>
            <div>
                <form class="list no-hairlines-md" id="login-form">
                    <ul>
                        <li class="item-content item-input">
                            <div class="item-inner">

                                <div class="item-title size-22"><i class="f7-icons size-22"
                                        style="padding-right: 5px;">person</i>User
                                </div>
                                <div class="item-input-wrap">
                                    <input class="item-label" name="username" type="number" id="username"
                                        placeholder="masukkaan nim anda">
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title"> <i class="f7-icons size-22"
                                        style="padding-right: 5px;">lock</i>Password</div>
                                <div class="item-input-wrap">
                                    <input class="item-label" name="password" type="password" id="password"
                                        placeholder="masukkan password anda">
                                </div>
                            </div>
                        </li>
                    </ul>
                </form>
                <div class="block">
                    <p class="row">
                        <a class="col button button-fill color-blue text-color-white" id="login-btn" href=""
                            type="submit" data-transition="f7-push">Login</a>
                    </p>
                    <div class="block-footer" style="text-align: center">Tidak memiliki Akun?<a
                            class="color-white text-color-blue" href="/register/"> Daftar Sekarang </a></div>
                </div>
                <div class="page-content chodosoft-center">
                    <div class="block-footer" style="text-align: center; margin-bottom: 10px">Login dengan :</div>
                    <i class="f7-icons size-22 color-red" style="padding-right: 15px;">logo_googleplus</i>
                    <i class="f7-icons size-22 color-blue" style="padding-left: 15px;">logo_facebook</i>
                </div>
            </div>
        </div>
    </div>
</div