<class class="page" id="prodi" data-page="prodi">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="left">
        <a href="/dashboard/" class="link">
          <i class="icon icon-back"></i>
          <span class="if-not-md">Back</span>
        </a>
      </div>
      <div class="title">
        Program Study
      </div>
      <div class="right">
        <a href="#" class="link icon-only panel-open" data-panel="right">
          <i class="icon f7-icons if-not-md">menu</i>
          <i class="icon material-icons md-only">menu</i>
        </a>
      </div>
    </div>
  </div>

  <div class="card card-expandable" style="margin-top: 80px;">
    <div class="card-content">
      <div class="bg-color-blue" style="height: 80px">
        <div class="card-header text-color-white display-block">
          Teknik Informatika
          <br>
          <small style="opacity: 1">Konsentrasi Software Engineering</small>
        </div>
        <a href="#" class="link card-close card-opened-fade-in color-white"
          style="position: absolute; right: 15px; top: 15px">
          <i class="icon f7-icons">xmark_circle_fill</i>
        </a>
      </div>
      <div class="card-content-padding">
        <div class="card data-table">
          <table>
            <thead>
              <tr>
                <th class="label-cell">Kode MK</th>
                <th class="numeric-cell">Nama MK</th>
                <th class="numeric-cell">SKS</th>
                <th class="numeric-cell">Semester</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="label-cell">MP01</td>
                <td class="numeric-cell">Mobile Programming</td>
                <td class="numeric-cell">4</td>
                <td class="numeric-cell">5</td>
              </tr>
              <tr>
                <td class="label-cell">CC02</td>
                <td class="numeric-cell">Cloud Computing</td>
                <td class="numeric-cell">4</td>
                <td class="numeric-cell">5</td>
              </tr>
              <tr>
                <td class="label-cell">PBO03</td>
                <td class="numeric-cell">Pemogramman Berbasis Objek</td>
                <td class="numeric-cell">4</td>
                <td class="numeric-cell">5</td>
              </tr>
              <tr>
                <td class="label-cell">SP04</td>
                <td class="numeric-cell">Sistem Pakar</td>
                <td class="numeric-cell">3</td>
                <td class="numeric-cell">5</td>
              </tr>
              <tr>
                <td class="label-cell">IG05</td>
                <td class="numeric-cell">IT Governance</td>
                <td class="numeric-cell">3</td>
                <td class="numeric-cell">5</td>
              </tr>
              <tr>
                <td class="label-cell">PPKN06</td>
                <td class="numeric-cell">PPKN</td>
                <td class="numeric-cell">2</td>
                <td class="numeric-cell">5</td>
              </tr>
              <tr>
                <td class="label-cell">KB07</td>
                <td class="numeric-cell">Kecerdasan Buatan</td>
                <td class="numeric-cell">3</td>
                <td class="numeric-cell">5</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</class>
</div>
</div>