.btn-small {
    max-width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.btn-large {
	max-width: 90%;
	height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.button {
	display: flex;
	justify-content: center;
	align-items: center; 
}
.center-page{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.button-dashboard {
	height: 70px;
}

.button > img {
	margin-right: 5px;
}

.dashboard-icon {
	width: 60px;
	height: 60px;
}

.navbar-icon {
	width: 40%;
	height: 40px;
}

.menu-dashboard {
	margin-bottom: 20px;
}

.chodosoft-center {
	text-align: center;
}

.chodosoft-font-9 {
	font-size: 9px;
}
.chodosoft-right {
	text-align: right;
}
.chodosoft-color-bg-blue{
	background-color: #3090C7;
	font-size: 9px;
	color: white;
}
.chodosoft-title-icon {
	width: 50%;
	height: 80px;
}
